body {
    box-sizing: border-box;
    background-color: #191919;
    font-family: 'Montserrat', sans-serif;
}
h1{
    color: goldenrod;
    padding: 5px 0px;
}


h2 {
    padding: 5px 0px;
    color: #f5f5dc;
}


.wrap {
    height: 260px;
    width: 450px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 5%;
}


#lightning {
    display: inline;
    position: static;
    cursor: pointer;
}

#box {
    height: 120px;
    width: 450px;
    background-color: #4a4343;
    position: absolute;
    margin-top: 20px;
    border-radius: 10px;
}

p {
    margin: 0 auto;
    vertical-align: middle;
    padding-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.3em;
    color:goldenrod;
    font-weight: bold;
}

#reset {
    margin-top: 35%;
    position: relative;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 1em;
    background-color: goldenrod;
    border: 1px solid goldenrod;
    cursor: pointer;
    outline: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#reset:active{
    background-color: white;
    color: goldenrod;
}
#reset:hover{
    background-color: white;
    color: goldenrod;
}