/* FOR WHOLE DOCUMENT */
body {
    box-sizing: border-box;
    background-color: #191919;
    font-family: 'Montserrat', sans-serif;
}
/* FIRST HEADER */
h1{
    color: goldenrod;
    padding: 5px 0px;
}

/* SECOND HEADER */
h2 {
    padding: 5px 0px;
    color: #f5f5dc;
}

/* MAIN BOX */
.wrap {
    height: 260px;
    width: 450px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 5%;
}

/* IMAGE BUTTON  */
#lightning {
    display: inline;
    position: static;
    cursor: pointer;
}
/* BOX WITH QOUTES */
#box {
    height: 120px;
    width: 450px;
    background-color: #4a4343;
    position: absolute;
    margin-top: 20px;
    border-radius: 10px;
}
/* RANDOM QUOTES SHOWN */
p {
    margin: 0 auto;
    vertical-align: middle;
    padding-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.3em;
    color:goldenrod;
    font-weight: bold;
}
/* RESET BUTTON */
#reset {
    margin-top: 35%;
    position: relative;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 1em;
    background-color: goldenrod;
    border: 1px solid goldenrod;
    cursor: pointer;
    outline: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* BUTTON DURING ACTION */
#reset:active{
    background-color: white;
    color: goldenrod;
}
#reset:hover{
    background-color: white;
    color: goldenrod;
}
/* BUTTON DURING ACTION STOP */